# Virtual Environments
venv/
env/
.env
__pycache__/
*.py[cod]

# Data folders and heavy models (DO NOT push to Git!)
data/
fall_dataset/
processed_features/
assets/*.pth
models/*.pth
models/*.pt
models/*.onnx
models/*.h5

# Temporary notebooks and IDE caches
.ipynb_checkpoints/
.vscode/
.idea/
*.log

# Operating system files
.DS_Store
Thumbs.db

# Database
app.db

# Logs
app.log